@use '_foundation/_vars' as vars;

html {
    font-size: 62.5%;
}
img {
    display: block;
}
.iconCheck {
    margin-right: 4px;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hoge {
    align-items: center;
    display: flex;
    justify-content: center;
    &__text {
        color: vars.color(text);
        font-size: vars.fontsize(normal);
    }
}
